# Environment variables & secrets
.env

# Virtual environments
.venv/
env/
venv/

# Python cache & build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor settings
.vscode/
.idea/

# Node / Frontend ignores
node_modules/
omnicloud-frontend/node_modules/
omnicloud-frontend/dist/
omnicloud-frontend/.vite/
img